/** Cabecalho **/
.linha{
    background-image: url(../imagens/rainbow.svg);
    background-repeat: no-repeat;
    height: 10px;
    background-size: cover;
}
.cabeca {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.etslogo {
    width: 10%;
    display: flex;
    justify-content: center;
}

/** Log-in **/
.formulario{
    width: 35%;
    border-radius: 20px;
}
.logo {
    font-family: 'Open Sans', sans-serif;
}
.image {
    width: 100%;
    left: 21%;
    top: 1%;
    display: flex;
    float: right;
}
@media (max-width: 768px) {

    .etslogo {
        width: 40%;
        display: flex;
        justify-content: center;
    }
    .formulario{
        width: 55%;
        border-radius: 20px;
    }
    .logo {
        font-family: 'Open Sans', sans-serif;
    }
    .image {
        width: 90%;
        position: relative;
        left: -5%;
    }
}
@media (max-width: 568px) {
    .etslogo {
        width: 60%;
        display: flex;
        justify-content: center;
    }

    .formulario{
        width: 65%;
        border-radius: 20px;
    }
    .logo {
        font-family: 'Open Sans', sans-serif;
    }

    
}
@media (max-width: 340px) {

    .formulario{
        width: 65%;
        border-radius: 20px;
    }
    .logo {
        font-family: 'Open Sans', sans-serif;
    }

    
}
@media (min-width: 1000px){
    .etslogo {
        width: 15%;
        display: flex;
        justify-content: center;
    }
    .formulario{
        width: 55%;
        border-radius: 20px;
    }
    .logo {
        font-family: 'Open Sans', sans-serif;
    }
    .image {
        width: 60%;
        position: relative;
        left: -13%;
    }
}

@media (min-width: 1600px) {
    .etslogo {
        width: 10%;
        display: flex;
        justify-content: center;
    }
    .formulario{
        width: 20%;
        border-radius: 20px;
    }
    .logo {
        font-family: 'Open Sans', sans-serif;
    }

}

