span{font-family: Calibri, sans-serif;}
p{font-family: Calibri, sans-serif;}

/** Header **/
.header {
    height: 2.6568vw;
    padding: 0rem !important;
    flex-wrap: nowrap !important;
}

.linha {
    background-image: url(../imagens/rainbow.svg);
    background-repeat: no-repeat;
    height: 8px;
    background-size: cover;
}

.logo-inside {
    width: 10vw;
    display: flex;
    justify-content: center;
}

.nav-text{
    color: rgb(230, 230, 230);
    font-size: 1.4vw;
    font-weight: bold;
    font-family: Calibri, sans-serif;
}

/** Menu **/

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    background-color: #FFF;
}

.button-sidebar{
    background: inherit;
    color: inherit;
    transition: all 0.45s;
}
.button-sidebar:hover{
    transform: scale(1.2);
}

.sidebar{
    position: fixed;
    top: 12%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 90%;
    padding: 40px 10px 30px 10px;
    transition: all 0.45s;
}
.sidebarheader{
    width: 100%;
    margin-bottom: 16px;
}
.logo-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s;
    margin-left: 10px;
}
.logo-img:hover{
    transform: scale(1.1);
}

.sidebar button {
    height: 60px;
    background: transparent;
    border: 0;
    font-family: sans-serif;
    color: inherit;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.sidebar button > span {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 0 16px 0 12px;
    border-radius: 24px;
    line-height: 1;
    transition: all 0.4s;
}

.sidebar button:hover > span{
    background-color: rgba(0, 0, 0, 0.08);
}

.sidebar button i {
    position: relative;
    font-size: 28px;
    transition: 0.2s;
}

.sidebar button span {
    font-size: 16px;
}

.edv {
    height: 48px;
    padding: 0 16px 0 12px;
    border-radius: 24px;
    transition: all 0.4s;
    text-align: center;
    font-weight: 100;
}
.edv2{
    margin-left: 14px;
}
.sidebar nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main {
    margin-left: 250px;
    margin-right: 6px;
    overflow: hidden;
    transition: margin 0.45s;
}
/** Tamanhos **/
@media (width < 920px){
    .logo-img{
        width: 35px;
        height: 35px;
    }
    .sidebar{
        width: 72px;
    }
    
    .sidebar button > span{
        width: 50px;
    }

    .sidebar button > span > span{
        opacity: 0;
        visibility: hidden;
    }
    .edv{
        opacity: 0;
        visibility: hidden;
    }
    .main{
        margin-left: 78px;
    }
}

.button-mobile{
    display: none;
    align-self: flex-start;
    align-items: center;
    margin: 16px;
    background: transparent; 
    color: #000;
    border: 0;
}
.button-mobile span{
    font-size: 24px;
    margin-left: 8px;
    color: #000;
    font-size: 20px;
    font-family: sans-serif;
}
.close span i {
    font-size: 42px;
}
.menu-mobile{
    display: none;
}

.menu-mobile-active{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.menu-mobile-active button{
    background: transparent;
    border: 0;
    color: #fff;
    margin-bottom: 16px;
}
.menu-mobile-active button > span{
    display: inline-flex;
    align-items: center;
}
.mobile-text{
    font-size: 22px;
    margin-left: 8px;
}

@media(max-width: 480px){
    .sidebar{
        display: none;
    }
    .button-mobile{
        display: flex;
    }
    .main{
        margin-left: 6px;
    }
    .etslogo {
        width: 300px;
        display: flex;
        justify-content: center;
    }
    
}


/** Main **/

.main{
    margin-top: 2vw;
}

.all-things{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subject-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.subject-box-title{
    background-color: rgb(143 84 111); 
    width: min-content;
    border-radius: 20px;
    padding-right: 8vw;
    padding-left: 8vw;
}
.subject-title {
    color: rgb(255, 255, 255);
    font-size: 5rem;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    margin: 0;
}

.teste-img{
    width: 60%;
}

.table>:not(caption)>*>* {
    background-color: #f2f2f2 !important;
}

.dowload-button{
    text-align: center;
    border-style: none;
    background-color: transparent;
}
.logo-inside{
    width: 50%;
}

/**chat **/
.but{
    background-color: rgb(117, 186, 255);
    position: fixed;
    top: 93%;
    right: 3%;
    border-radius: 15px;
    border: transparent;
    height: 40px;
    width: 90px;
}
.chat{
    font-size: 40px !important;
    height: 30px;
    width: 30px;
}
.escrita{
    position: relative;
    top: -17px;
    font-weight: bold;
    padding: 5px;
}
/** nome materia **/
.nome-mat {
    z-index: 100;
    background-color: rgb(93, 25, 114);
    border: transparent 2px solid;
    height: 80px;
    font-size: 42px;
    color: #FFF;
    left: 0;
    font-weight: bolder;
}

/**circulo de média **/

.skill {
    width: 160px;
    height: 199px;
    position: relative;
    display: flex;
}

.fora {
    height: 160px;
    width: 160px;
    padding: 20px;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}

.dentro {
    background-color: white;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
    font-weight: 600;
    color: #555;
    font-size: 30px;
}

.media-turma {
    text-align: center;
    font-size: 28px;
}
@media (max-width: 425px) {
    header{
        width: 100%;
        text-align: center;
    }
    .logo-inside{
        width: 100%;
    }
    .nav-text{
        display: none;
    }
    main{
        margin-top: 7vw;
    }
    .subject-title {
        font-size: 3.7rem;
    }
    .subject-box-title{
        height: min-content;
        width: min-content;
        border-radius: 20px;
        padding-right: 14vw;
        padding-left: 14vw;
    }
    .title-media{
        margin-top: 2%;
        font-size: 25px;
        display: flex;
        font-weight: bold;
    }

    .teste-img{
        width: 60%;
    }
    .table{
        margin-top: 4vw;
    }
    td{
        font-size: 81%;
    }

    .file-name{
        font-size: 95%;
    }

    .icon-dowload{
        width: 50%;
        text-align: center;
    }
    .nome-mat {
        z-index: 100;
        position: fixed;
        background-color: rgb(93, 25, 114);
        border: transparent 2px solid;
        height: 55px;
        font-size: 29px;
        color: #FFF;
        top: -6%;
        left: 0;
        font-weight: bolder;
    }
    .etslogo {
        display: none;
    }
    .emyli{
        display: none !important;
    }
}


@media (min-width: 1000px){
    .logo-inside {
        width: 35% !important;
    }
    .nav-text{
        font-size: 2.5vw;
    }
    .icon-dowload{
        width: 55%;
    }
    td{
        font-size: 130%;
    }
    .title-media{
        font-size: 35px;
        margin-top: 2%;
        margin-bottom: 3%;
    }
}
@media (min-width: 2000px){
    .logo-inside {
        width: 30% !important;
    }
    .nav-text{
        font-size: 2.5vw;
    }
    .icon-dowload{
        width: 55%;
    }
    td{
        font-size: 210%;
    }
    th{
        font-size: 210%;
    }
    .icon-dowload{
        width: 100px !important;
    }
    .sidebar{
        position: fixed;
        top: 12%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 340px;
        height: 90%;
        padding: 40px 10px 30px 10px;
        transition: all 0.45s;
        font-size: 30px;
    }
    .sidebar i {
        font-size: 30px;
    }
    .sidebar button i {
        position: relative;
        font-size: 30px;
        transition: 0.2s;
    }

    .sidebar button span {
        font-size: 30px;
    }

    .title-media{
        font-size: 40px;
        margin-top: 2%;
        margin-bottom: 3%;
    }
    .but{
        height: 50px;
        width: 120px;
    }
    .chat{
        font-size: 50px !important;
        height: 30px;
        width: 30px;
    }
    .escrita{
        font-size: 23px;
        position: relative;
        top: -17px;
        font-weight: bold;
        padding: 15px;
    }
}
