<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Sala</title>

    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

    <!-- Google Simbols -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <!-- Css -->
    <link rel="stylesheet" href="css/addmat.css">

    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@500&display=swap"
        rel="stylesheet">

</head>

<body>
    <!-- Cabeçalho -->
    <div class="linha"> .</div>
    <header class="border-bottom bg-body-secondary eta">
        <div class="dash">
            <b>Dashboard</b>
            <a href="#" class="sair">
                <i class="material-symbols-outlined m-2"> Logout </i>
            </a>
        </div>
    </header>

    <nav class="navbar shadow bg-body-tertiary mt-2">
        <div class="container-fluid">
            <a class="cabeca navbar-brand" href="#">
                <img src="../imagens/logo_ets.png" alt="logo bosch-ets" class="etslogo">
            </a>
        </div>
    </nav>
    <!-- -------- -->

    <!-- Menu com click -->

    <aside class="sidebar shadow">
        <header class="sidebarheader">
            <img class="logo-img" src="https://sujeitoprogramador.com/steve.png" alt="foto do usuario">
        </header>
        <span class="edv2">
            <i class="material-symbols-outlined"> badge </i>
            <span><b class="edv">EDV:92902064</b></span>
        </span>
        <nav>
            <button>
                <span>
                    <i class="material-symbols-outlined"> home </i>
                    <span>Início</span>
                </span>
            </button>

            <button>
                <span>
                    <i class="material-symbols-outlined"> calendar_month </i>
                    <span>Calendário</span>
                </span>
            </button>

            <button>
                <span>
                    <i class="material-symbols-outlined"> Logout </i>
                    <span>Sair</span>
                </span>
            </button>

        </nav>

    </aside>
    <!-- Menu p celular -->
    <button class="button-mobile" onclick="toggleMenu()">
        <i class="material-symbols-outlined"> menu </i>
        <span><b class="">Menu</b></span>
    </button>

    <nav class="menu-mobile" id="menu-mobile">
        <button class="close" onclick="toggleMenu()">
            <span>
                <i class="material-symbols-outlined"> close </i>
            </span>
        </button>

        <button>
            <span>
                <i class="material-symbols-outlined"> home </i>
                <span class="mobile-text">Início</span>
            </span>
        </button>

        <button>
            <span>
                <i class="material-symbols-outlined"> calendar_month </i>
                <span class="mobile-text">Calendário</span>
            </span>
        </button>

        <button>
            <span>
                <i class="material-symbols-outlined"> person_add </i>
                <span>Adicionar Aluno</span>
            </span>
        </button>

        <button>
            <span>
                <i class="material-symbols-outlined"> person_add </i>
                <span>Adicionar Instrutor</span>
            </span>
        </button>

        <button>
            <span>
                <i class="material-symbols-outlined"> person_add </i>
                <span class="mobile-text">Adicionar Instrutor/Aluno</span>
            </span>
        </button>

        <button>
            <span>
                <i class="material-symbols-outlined"> Logout </i>
                <span class="mobile-text">Sair</span>
            </span>
        </button>
    </nav>

    <main class="main">
        <!-- Cadastro Arquivo -->
        <div
            class="form-signin mt-5 formulario border-transparent shadow position-absolute top-50 start-50 translate-middle p-2  mb-4">

            <form class="row g-7">

                <h2 class = "text-center mt-4 mb-4">
                    Criando nova Turma
                </h2>
                
                <div class="col-12 col-sm-6 col-md-4 w-100 mb-4">
                    <label class="form-label">Nome</label>
                    <input type="text" class="form-control" placeholder="Título" required name="Nome">
                </div> 

                <div class="col-12 w-100 col-md-4 butao mb-4">
                    <input class="btn btn-primary w-100" type="submit" value="Enviar">
                </div>

                <a href="#" class = "volta">
                    <span>
                        <i class="material-symbols-outlined voltar1">undo</i>
                        <span class="voltar">Voltar</span>
                    </span>
                </a>
            </form>
    </main>
    <script src="../JavaScript/menu.js"></script>
</body>

</html>
