<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matérias</title>
    <!-- CSS -->
    <link rel="stylesheet" href="materia.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <!-- Google Simbols -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>

<body>
    <!-- Header -->
    <div class="linha"> </div>
    <header>
        <nav class="navbar shadow bg-body-tertiary">
            <div class="container-fluid emyli">
                <a class="navbar-brand" href="#">
                    <img src="../imagens/logo_ets.png" alt="logo-ets" class="logo-inside">
                </a>
            </div>
        </nav>
    </header>
    <!-- -------- -->
    <!-- Menu com click -->
    <aside class="sidebar shadow">
        <header class="sidebarheader">
            <img class="logo-img" src="https://sujeitoprogramador.com/steve.png" alt="foto do usuario">
        </header>
        <span class="edv2">
            <i class="material-symbols-outlined"> badge </i>
            <span><b class="edv">EDV:92902064</b></span>
        </span>
        <nav>
            <button>
                <span>
                    <i class="material-symbols-outlined"> home </i>
                    <span>Início</span>
                </span>
            </button>

            <button>
                <span>
                    <i class="material-symbols-outlined"> calendar_month </i>
                    <span>Calendário</span>
                </span>
            </button>

            <button>
                <span>
                    <i class="material-symbols-outlined"> Logout </i>
                    <span>Sair</span>
                </span>
            </button>

        </nav>

    </aside>
    <!-- Menu p celular -->
    <button class="button-mobile mt-4" onclick="toggleMenu()">
        <i class="material-symbols-outlined"> menu </i>
        <span><b class="">Menu</b></span>
    </button>

    <nav class="menu-mobile" id="menu-mobile">
        <button class="close" onclick="toggleMenu()">
            <span>
                <i class="material-symbols-outlined"> close </i>
            </span>
        </button>

        <button>
            <span>
                <i class="material-symbols-outlined"> home </i>
                <span class="mobile-text">Início</span>
            </span>
        </button>

        <button>
            <span>
                <i class="material-symbols-outlined"> calendar_month </i>
                <span class="mobile-text">Calendário</span>
            </span>
        </button>

        <button>
            <span>
                <i class="material-symbols-outlined"> Logout </i>
                <span class="mobile-text">Sair</span>
            </span>
        </button>
    </nav>

    <!-- Main -->
    <main class="main">
        <div class="all-things">
            <!--Título da matéria -->
            <div class="nome-mat w-100 text-center mt-5 mb-5 shadow mb-3">
                Python
            </div>

            <div class="media-turma mt-4 mb-4">
                A sua média Geral é:
            </div>
            <div class="all mt-4">
                <div class="body">
                    <div class="skill">
                        <div class="fora">
                            <div class="dentro">
                                <div id="number">
                                    99%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Competencias -->
            <div class="competencias">
                <p class="title-media text-start mt-4">Competências:</p>

                <div class="media d-flex justify-content-center">
                    <img src="../imagens/teste-media.png" alt="" class="teste-img">
                </div>

                <table class="table border align-middle table-striped-columns">
                    <thead>
                        <tr>
                            <th scope="col">PESO</th>
                            <th scope="col">COMPETÊNCIAS</th>
                            <th scope="col">SITUAÇÃO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Criar um Programa</td>
                            <td>Em desenvolvimento</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Compreender tipos de variáveis</td>
                            <td>Em desenvolvimento</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Integrar inserção de dados</td>
                            <td>Em desenvolvimento</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Aplicar exibição de resultados</td>
                            <td>Em desenvolvimento</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Aplicar manipulação de dados de entrada</td>
                            <td>Em desenvolvimento</td>
                        </tr>
                    </tbody>
                </table>
                <!-- arquivos -->
                <p class="title-media mt-4 mb-4">Arquivos disponibilzados:</p>
                <table class="table border align-middle table-striped-columns">
                    <tbody>
                        <tr>
                            <th class="file-name">Aula 1 - HTML.pdf</th>
                            <td class="d-flex justify-content-center"><button class="dowload-button" id="btnDownload"
                                    download href="../imagens/rainbow.svg"><img class="icon-dowload"
                                        src="../imagens/dowload.png" alt=""></button></td>
                        </tr>
                        <tr>
                            <th class="file-name">Aula 2 - HTML.pdf</th>
                            <td class="d-flex justify-content-center"><button class="dowload-button" id="btnDownload"
                                    download href="../imagens/rainbow.svg"><img class="icon-dowload"
                                        src="../imagens/dowload.png" alt=""></button></td>
                        </tr>
                        <tr>
                            <th class="file-name">Aula 3 - CSS.pdf</th>
                            <td class="d-flex justify-content-center"><button class="dowload-button" id="btnDownload"
                                    download href="../imagens/rainbow.svg"><img class="icon-dowload"
                                        src="../imagens/dowload.png" alt=""></button></td>
                        </tr>
                        <tr>
                            <th class="file-name">Aula 4 - CSS.pdf</th>
                            <td class="d-flex justify-content-center"><button class="dowload-button" id="btnDownload"
                                    download href="imagens/azul.png"><img class="icon-dowload"
                                        src="../imagens/dowload.png" alt=""></button></td>
                        </tr>
                        <tr>
                            <th class="file-name">Figura Paterna.jfif</th>
                            <td class="d-flex justify-content-center"><button class="dowload-button" id="btnDownload"
                                    download href="../imagens/rainbow.svg"><img class="icon-dowload"
                                        src="../imagens/dowload.png" alt=""></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <button class="but ">
            <span>
                <i class="material-symbols-outlined chat"> forum </i>
                <span class="escrita"> Chat </span>
            </span>
        </button>
    </main>
    <!-- -------- -->

    <script src="../JavaScript/home.js"></script>
</body>

</html>
